*{
    margin: 0;
    padding: 0;
}
.banner{
    background-image: url("/resources/Banner\ Image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

#banner-text{
    color:aqua;
     text-align: center;
     padding-top: 120px;
     font-size: 65px;
     font-weight: 700;
}
#banner-text h2{
    font-size: 30px;
    font-weight: 400;
}