* {
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto Mono', monospace;
}

 /* heading section  */
.banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../resources/Banner\ Image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

#banner-text {
    color: white;
    text-align: center;
    padding-top: 120px;
    font-size: 65px;
    font-weight: 700;
}

#banner-text h2 {
    font-size: 20px;
    font-weight: 400;
}

.new-year-banner {
    width: 80%;
    margin: 24px 150px;
    
}
 /* main section  */
main {
    margin: 25px 65px 25px;
}

.new-year-banner img {
    margin: 80px 120px;
    width: 700px;
    text-align: center;
}

#banner-title {
    text-align: center;
    padding-top: 20px;
}

#banner-title h1 {
    font-size: 75px;
    color: #F00;
    font-weight: 800;
}

#banner-title h2 {
    font-size: 13px;
    color: #F00;
    font-weight: 700;
    padding: 15px 0 0 0;
}

#banner-title h3 {
    font-size: 28px;
    padding: 15px 0 0 0;
}

.new-year-banner-img {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../resources/Vectorrr.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin-right: 45px;
}

.img-section-text {
    display: inline;
    color: white;
    display: flex;
    justify-content: space-between;
}

.img-section-text h1 {
    font-size: 55px;
    font-weight: 700;

}

.img-section-text p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 13px;
}

#img-2024 {
    float: right;
    margin: 34px 23px;
}

.img-text {
    margin: 180px 120px;
}

.primary-btn {
    margin: 23px;
    background-color: transparent;
    color: white;
    border: 0;
    font-size: large;
    font-weight: 700;
}

.join-now {
    background: linear-gradient(18deg, rgb(233, 194, 194), rgb(153, 153, 223));
    margin-top: 65px;
    height: 300px;
    text-align: center;
    padding-top: 120px;
}


#join {
    margin-top: 45px;
    background: #F00;
    color: wheat;
    font-size: large;
    border: 0;
    border-radius: 8px;
    padding: 10px;
}

.box-offer {
    width: 33%;
}

.best-offer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 65px;
}

#mini-icon {
    margin-top: 34px;
}

#best-offer-heading {
    color: #F00;
    font-size: 12px;
    padding-top: 45px;
}

#best-offer-title {
    font-size: 35px;

}

#best-offer-describe {
    color: gray;
    font-size: 13px;
}

#circle-image {
    width: 250px;
    margin-left: 85px;
    border: 14px solid #F00;
    border-radius: 460px;
    margin-top: 5px;
    padding: 12px;
}

#year {
    padding-top: 40px;
    font-size: 45px;
    color: #F00;
}

.holidays-sale {
    margin-top: 65px;
    text-align: center;
    padding: 34px;
}

#functional-heading {
    font-size: 20px;
}

#holidays-heading {
    color: #F00;
    font-size: 70px;
}

#holidays-discount {
    font-size: 60px;
    color: darkred;
}

#holidays-describe {
    font-size: 13px;
    color: grey;
}


.holidays-img-section {
    display: flex;
    background-image: url("../resources/Rectangle\ 2.png"), url("../resources/Rectangle 1.png");
    background-repeat: no-repeat;
    background-position: bottom, top right;
    width: 100%;
}

#discount-img {
    float: left;
    margin-left: -90px;
    margin-top: 150px;
    width: 160px;
    height: 200px;

}

.portfolio {
    margin-top: 45px;
}

.portfolio-img-section {
    display: flex;
    justify-content: space-evenly;
}
 /* transition section  */
.portfolio-img-section img:hover{
    transition: all 0.5s ease-in-out;
    border-radius: 64px;
    cursor: pointer;
}
.portfolio-img-section img {
    width: 380px;
    height: 350px;
    margin-top: 34px;
}

.newsletter {
    margin-top: 65px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    color: black;
    height: 450px;
    padding: 23px;
    box-shadow: 12px 10px 14px rgb(236, 215, 218);
}

#newsletter-describe {
    font-size: 12px;
    padding: 12px;
    color: gray;
}

.news-letter-text {
    color: white;
    text-align: center;
    margin: 45px 180px 45px;
    color: black;
}

#subscribe-btn {
    background-color: #F00;
    color: white;
    border: 0;
    border-radius: 0 50px 50px 0;
    height: 35px;
    width: 82px;
}

input[type="search"] {
    height: 33px;
    width: 230px;
    padding: 12px;
    border: none;
    border-radius: 50px 0 0 50px;
}

.shop-address {
    display: flex;
    justify-content: space-between;
    margin: 45px 85px;
    color: white;
    font-size: 10px;
}
 /* footer section  */
footer {
    background: #070211;
    color: white;
    height: 440px;
}

#address {
    width: 30%;
}

.contact {
    margin-top: 45px;
    font-size: 11px;
    font-weight: 700;
}
.contact img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.social-icon ul {
    text-align: center;
}

    .social-icon ul > li {
    list-style: none;
    display: inline;
    padding: 14px 16px;
}

#second-btn{
 
    color: black;
    border: none;
   
}

#second-btn[type="btn"]{
    background-color: #070211;
    color: white;
     font-size: 20px;
}  
    